# Day 01

## Part 2

Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum. So, compare A with B, then compare B with C, then C with D, and so on. Stop when there aren't enough measurements left to create a new three-measurement sum.

In the above example, the sum of each three-measurement window is as follows:

 - A: 607 (N/A - no previous sum)
 - B: 618 (increased)
 - C: 618 (no change)
 - D: 617 (decreased)
 - E: 647 (increased)
 - F: 716 (increased)
 - G: 769 (increased)
 - H: 792 (increased)

In this example, there are 5 sums that are larger than the previous sum.

Consider sums of a three-measurement sliding window. How many sums are larger than the previous sum?

199  A       Sum A
200  A B     Sum B
208  A B C   Sum C
210    B C D
200  E   C D
207  E F   D
240  E F G
269    F G H
260      G H
263        H

In [23]:
import pandas as pd

df = pd.read_csv("./aoc_day_01_data.txt", header=None)
df.columns = ["original"]
df

      original
0          159
1          158
2          174
3          196
4          197
...        ...
1995      8538
1996      8543
1997      8545
1998      8557
1999      8568

[2000 rows x 1 columns]

In [24]:
indexer = pd.api.indexers.FixedForwardWindowIndexer(window_size=3)
df["rolling_sum"] = df.original.rolling(window=indexer).sum()
df

      original  rolling_sum
0          159        491.0
1          158        528.0
2          174        567.0
3          196        587.0
4          197        600.0
...        ...          ...
1995      8538      25626.0
1996      8543      25645.0
1997      8545      25670.0
1998      8557          NaN
1999      8568          NaN

[2000 rows x 2 columns]

In [25]:
df['shifted_rs'] = df['rolling_sum'].shift(-1)
df

      original  rolling_sum  shifted_rs
0          159        491.0       528.0
1          158        528.0       567.0
2          174        567.0       587.0
3          196        587.0       600.0
4          197        600.0       616.0
...        ...          ...         ...
1995      8538      25626.0     25645.0
1996      8543      25645.0     25670.0
1997      8545      25670.0         NaN
1998      8557          NaN         NaN
1999      8568          NaN         NaN

[2000 rows x 3 columns]

In [26]:
df['increased_rs'] = (df['shifted_rs'] > df['rolling_sum'])
df

      original  rolling_sum  shifted_rs  increased_rs
0          159        491.0       528.0          True
1          158        528.0       567.0          True
2          174        567.0       587.0          True
3          196        587.0       600.0          True
4          197        600.0       616.0          True
...        ...          ...         ...           ...
1995      8538      25626.0     25645.0          True
1996      8543      25645.0     25670.0          True
1997      8545      25670.0         NaN         False
1998      8557          NaN         NaN         False
1999      8568          NaN         NaN         False

[2000 rows x 4 columns]

In [27]:
true_count = df['increased_rs'].sum()
true_count

1627