# Day 01

https://adventofcode.com/2021/day/1

## Part 1
To do this, count the number of times a depth measurement increases from the previous measurement. (There is no measurement before the first measurement.) In the example above, the changes are as follows:

 - 199 (N/A - no previous measurement)
 - 200 (increased)
 - 208 (increased)
 - 210 (increased)
 - 200 (decreased)
 - 207 (increased)
 - 240 (increased)
 - 269 (increased)
 - 260 (decreased)
 - 263 (increased)

In this example, there are 7 measurements that are larger than the previous measurement.

How many measurements are larger than the previous measurement?

In [8]:
import pandas as pd

df = pd.read_csv("./aoc_day_01_data.txt", header=None)
df.describe

<bound method NDFrame.describe of          0
0      159
1      158
2      174
3      196
4      197
...    ...
1995  8538
1996  8543
1997  8545
1998  8557
1999  8568

[2000 rows x 1 columns]>

In [9]:
df.columns = ["original"]

df

      original
0          159
1          158
2          174
3          196
4          197
...        ...
1995      8538
1996      8543
1997      8545
1998      8557
1999      8568

[2000 rows x 1 columns]

In [10]:
df['shifted'] = df['original'].shift(-1)
df

      original  shifted
0          159    158.0
1          158    174.0
2          174    196.0
3          196    197.0
4          197    194.0
...        ...      ...
1995      8538   8543.0
1996      8543   8545.0
1997      8545   8557.0
1998      8557   8568.0
1999      8568      NaN

[2000 rows x 2 columns]

In [11]:
df['increased'] = (df['shifted'] > df['original'])
df

      original  shifted  increased
0          159    158.0      False
1          158    174.0       True
2          174    196.0       True
3          196    197.0       True
4          197    194.0      False
...        ...      ...        ...
1995      8538   8543.0       True
1996      8543   8545.0       True
1997      8545   8557.0       True
1998      8557   8568.0       True
1999      8568      NaN      False

[2000 rows x 3 columns]

In [12]:
true_count = df['increased'].sum()
true_count

1583

In [13]:
df['increased'].value_counts(dropna=False)

True     1583
False     417
Name: increased, dtype: int64