You need to use the binary numbers in the diagnostic report to generate two new binary numbers (called the gamma rate and
the epsilon rate). The power consumption can then be found by multiplying the gamma rate by the epsilon rate.

Each bit in the gamma rate can be determined by finding the most common bit in the corresponding position of all numbers
in the diagnostic report. For example, given the following diagnostic report:

00100
11110
10110
10111
10101
01111
00111
11100
10000
11001
00010
01010


Considering only the first bit of each number, there are five 0 bits and seven 1 bits. Since the most common bit is 1, the first bit of the gamma rate is 1.

The most common second bit of the numbers in the diagnostic report is 0, so the second bit of the gamma rate is 0.

The most common value of the third, fourth, and fifth bits are 1, 1, and 0, respectively, and so the final three bits of the gamma rate are 110.

So, the gamma rate is the binary number 10110, or 22 in decimal.

The epsilon rate is calculated in a similar way; rather than use the most common bit, the least common bit from each position is used.
So, the epsilon rate is 01001, or 9 in decimal. Multiplying the gamma rate (22) by the epsilon rate (9) produces the power consumption, 198.

Use the binary numbers in your diagnostic report to calculate the gamma rate and epsilon rate, then multiply them together. What is the power consumption of the submarine? (Be sure to represent your answer in decimal, not binary.)

In [15]:
import pandas as pd

df = pd.read_csv("./aoc_day_03_test_data.txt", dtype = str, header=None)
df.columns = ["original"]
df

   original
0     00100
1     11110
2     10110
3     10111
4     10101
5     01111
6     00111
7     11100
8     10000
9     11001
10    00010
11    01010

In [16]:
df = pd.DataFrame(df["original"].str.split('').tolist())
df

   0  1  2  3  4  5 6
0     0  0  1  0  0
1     1  1  1  1  0
2     1  0  1  1  0
3     1  0  1  1  1
4     1  0  1  0  1
5     0  1  1  1  1
6     0  0  1  1  1
7     1  1  1  0  0
8     1  0  0  0  0
9     1  1  0  0  1
10    0  0  0  1  0
11    0  1  0  1  0

In [17]:
del df[0]
df = df.iloc[:,:-1]
df

    1  2  3  4  5
0   0  0  1  0  0
1   1  1  1  1  0
2   1  0  1  1  0
3   1  0  1  1  1
4   1  0  1  0  1
5   0  1  1  1  1
6   0  0  1  1  1
7   1  1  1  0  0
8   1  0  0  0  0
9   1  1  0  0  1
10  0  0  0  1  0
11  0  1  0  1  0

In [18]:
df = pd.concat([df[column].value_counts() for column in df], axis = 1)
df

   1  2  3  4  5
1  7  5  8  7  5
0  5  7  4  5  7

In [19]:
most_common_bits = df.idxmax()
most_common_bits

1    1
2    0
3    1
4    1
5    0
dtype: object

In [6]:
# concatenate rows
gamma_rate = ''.join(most_common_bits)
gamma_rate = int(gamma_rate, 2)
gamma_rate

22

In [24]:
# the least common bit is the binary inverted
# create the bit mask
bit_mask = 2 ** len(most_common_bits) - 1
bit_mask

31

In [25]:
epsilon_rate = gamma_rate ^ bit_mask
epsilon_rate

9

In [9]:
gamma_rate * epsilon_rate

198